<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE configuration
  PUBLIC '-//mybatis.org//DTD Config 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-config.dtd'>
<configuration>
	<settings>
		<setting name="logImpl" value="SLF4J"/>
	</settings>
	<typeAliases>
		<typeAlias type='gov.usgs.cida.nar.mybatis.model.Aflow' alias='Aflow'></typeAlias>
		<typeAlias type='gov.usgs.cida.nar.mybatis.model.Aloads' alias='Aloads'></typeAlias>
		<typeAlias type='gov.usgs.cida.nar.mybatis.model.Dflow' alias='Dflow'></typeAlias>
		<typeAlias type='gov.usgs.cida.nar.mybatis.model.Discqw' alias='Discqw'></typeAlias>
		<typeAlias type='gov.usgs.cida.nar.mybatis.model.Mflow' alias='Mflow'></typeAlias>
		<typeAlias type='gov.usgs.cida.nar.mybatis.model.Mloads' alias='Mloads'></typeAlias>
		<typeAlias type='gov.usgs.cida.nar.mybatis.model.PestSites' alias='PestSites'></typeAlias>
		<typeAlias type='gov.usgs.cida.nar.mybatis.model.WaterYearInterval' alias='WaterYearInterval'></typeAlias>
		<typeAlias type='gov.usgs.cida.nar.mybatis.model.WaterYearIntervalWithConstituent' alias='WaterYearIntervalWithConstituent'></typeAlias>
		<typeAlias type='gov.usgs.cida.nar.mybatis.model.DateInterval' alias='DateInterval'></typeAlias>
		<typeAlias type='gov.usgs.cida.nar.mybatis.model.DateIntervalWithConstituent' alias='DateIntervalWithConstituent'></typeAlias>
		<typeAlias type='gov.usgs.cida.nar.mybatis.model.MostCommonPesticides' alias='MostCommonPesticides'></typeAlias>
	</typeAliases>
	<environments default='container'>
		<environment id='container'>
			<transactionManager type="JDBC"/>
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/narDS"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource='gov/usgs/cida/nar/mybatis/mappers/AflowMapper.xml' />
		<mapper resource='gov/usgs/cida/nar/mybatis/mappers/AloadsMapper.xml' />
		<mapper resource='gov/usgs/cida/nar/mybatis/mappers/DflowMapper.xml' />
		<mapper resource='gov/usgs/cida/nar/mybatis/mappers/DiscqwMapper.xml' />
		<mapper resource='gov/usgs/cida/nar/mybatis/mappers/MflowMapper.xml' />
		<mapper resource='gov/usgs/cida/nar/mybatis/mappers/MloadsMapper.xml' />
		<mapper resource='gov/usgs/cida/nar/mybatis/mappers/PestSitesMapper.xml' />
		<mapper resource='gov/usgs/cida/nar/mybatis/mappers/PesticideSampleMapper.xml' />
		<mapper resource='gov/usgs/cida/nar/mybatis/mappers/SharedMapper.xml' />
	</mappers>
</configuration>