<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="gov.usgs.cida.nar.mybatis.mappers.AflowMapper">
	
	<resultMap id="aflowResult" type="Aflow">
		<result property="siteAbb" column="site_abb"/>
		<result property="siteQwId" column="site_qw_id"/>
		<result property="siteFlowId" column="site_flow_id"/>
		<result property="wy" column="wy"/>
		<result property="flow" column="flow"/>
	</resultMap>
	
	<sql id="columns">
		site_abb,
		site_qw_id,
		site_flow_id,
		wy,
		flow
	</sql>
	
	<select id="getAflow" parameterType="map" resultMap="aflowResult">
		SELECT
			<include refid="columns"/>
		FROM
			aflow
		<where>
			<if test="null != siteQwId and siteQwId.size() &gt; 0">
				AND site_qw_id IN
				<foreach item="qwId" collection="siteQwId" open="(" close=")" separator=",">
					#{qwId}
				</foreach>
			</if>
			<include refid="gov.usgs.cida.nar.mybatis.mappers.SharedMapper.wyWithin"/>
		</where>
	ORDER BY site_qw_id, site_flow_id, wy ASC
	</select>
	
</mapper>