<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="gov.usgs.cida.nar.mybatis.mappers.MflowMapper">
	
	<resultMap id="mflowResult" type="Mflow">
		<result property="siteAbb" column="site_abb"/>
		<result property="siteQwId" column="site_qw_id"/>
		<result property="siteFlowId" column="site_flow_id"/>
		<result property="wy" column="wy"/>
		<result property="month" column="month"/>
		<result property="flow" column="flow"/>
	</resultMap>
	
	<resultMap id="waterYearAndMonthInterval" type="WaterYearAndMonthInterval">
		<result property="startYear" column="startYear"/>
		<result property="endYear" column="endYear"/>
		<result property="startMonth" column="startMonth"/>
		<result property="endMonth" column="endMonth"/>
	</resultMap>
	
	<sql id="columns">
		site_abb,
		site_qw_id,
		site_flow_id,
		wy,
		month,
		flow
	</sql>
	
	<select id="getMflow" parameterType="map" resultMap="mflowResult">
		SELECT
			<include refid="columns"/>
		FROM
			mflow
		<where>
			<include refid="gov.usgs.cida.nar.mybatis.mappers.SharedMapper.siteQwIdIn" />
			<include refid="gov.usgs.cida.nar.mybatis.mappers.SharedMapper.wyWithin"/>
		</where>
	ORDER BY site_qw_id, site_flow_id, wy, month ASC
	</select>
	
	<select id="getAvailability" parameterType="map" resultMap="waterYearAndMonthInterval">
		with subquery as (SELECT wy, min(month) as minMonth, max(month) maxMonth FROM mflow 
		JOIN (
			SELECT site_qw_id, min(wy) minWY, max(wy) maxWY FROM mflow as extremes
			WHERE
			site_qw_id=#{single_site_qw_id}
			GROUP BY site_qw_id
		) as extremes
		ON
			mflow.site_qw_id = extremes.site_qw_id
			AND 
			(mflow.wy = extremes.minWY OR mflow.wy = extremes.maxWY)
		GROUP BY wy) 
		SELECT q1.wy as endYear, q1.maxMonth as endMonth , q2.wy as startYear, q2.minMonth as startMonth from subquery q1
		
		--below join condition in combination with ordering and limit ensures
		--that the water (year,month) mins and maxes are returned 
		--whether there is one row for the site, or multiple rows for 
		--the site
		join subquery q2 on 
		(q1.wy &gt;= q2.wy) 
		order by endYear DESC, startYear ASC LIMIT 1
	</select>
	<!--
		
	-->
</mapper>