<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="gov.usgs.cida.nar.mybatis.mappers.SharedMapper">
	
	<sql id="wyWithin">
		<if test="null != startWy">
			AND wy &gt;= #{startWy}
		</if>
		<if test="null != endWy">
			AND wy &lt;= #{endWy}
		</if>
	</sql>
	
	<sql id="dateWithin">
		<if test="null != startDate">
			AND date &gt;= #{startDate,jdbcType=DATE}
		</if>
		<if test="null != endDate">
			 AND date &lt;= #{endDate,jdbcType=DATE}
		</if>
	</sql>
	
	<sql id="siteQwIdIn">
		<if test="null != siteQwId and siteQwId.size() &gt; 0">
			AND site_qw_id IN
			<foreach item="qwId" collection="siteQwId" open="(" close=")" separator=",">
				#{qwId}
			</foreach>
		</if>
	</sql>
	
	<sql id="excludeModtype">
		<if test="null != modtypeExcludes and modtypeExcludes.size() &gt; 0">
			AND modtype NOT IN
			<foreach item="exclude" collection="modtypeExcludes" open="(" close=")" separator=",">
				#{exclude}
			</foreach>
		</if>
	</sql>
	
	<sql id="constitIn">
		<if test="null != constit and constit.size() &gt; 0">
			AND constit IN
			<foreach item="con" collection="constit" open="(" close=")" separator=",">
				#{con}
			</foreach>
		</if>
	</sql>
</mapper>